<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocalNetworkUsageDescription</key>
	<string>${PRODUCT_NAME} uses the local network to discover Cast-enabled devices on your WiFi network.</string>
	<key>NSBonjourServices</key>
	<array>
			<string>_googlecast._tcp</string>
			<string>_dartVmService._tcp</string>
			<string>_dartobservatory._tcp</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to the camera for taking photos.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Why is my app authenticating using face id?</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to the photo library for saving photos.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs access to the microphone for recording audio.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app needs access to Bluetooth for device communication.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This app needs access to Bluetooth peripherals.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app needs access to your calendar for event management.</string>
	<key>NSContactsUsageDescription</key>
	<string>This app needs access to your contacts for sharing information.</string>
	<key>NSRemindersUsageDescription</key>
	<string>This app needs access to your reminders for task management.</string>
	<key>NSMotionUsageDescription</key>
	<string>This app needs access to motion sensors for activity tracking.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>This app needs access to health data for fitness tracking.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>This app needs access to update health data.</string>
	<key>NSLocationUsageDescription</key>
	<string>This app needs access to your location for navigation and location-based features.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs access to location when open and in the background.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app needs access to location when in the background.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs access to location in the background.</string>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Travelfile</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>travelfile</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<!-- TODO Replace this value: -->
				<!-- Copied from GoogleService-Info.plist key REVERSED_CLIENT_ID -->
				<string>com.googleusercontent.apps.861823949799-vc35cprkp249096uujjn0vvnmcvjppkn</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
